.form {
  position: absolute;
  bottom: 20px;
  width: 375px;
  height: 440px;
  display: flex;
  flex-direction: column;
  background: #FFECAA;
  box-shadow: 0px 2px 15px 2px rgba(255, 236, 170, 0.4);
  border-radius: 40px 40px 30px 30px;

  &__div {
    margin: 0 25px 10px;
    display: flex;
    justify-content: space-between;
  }
& button {
  min-width: 325px;
  height: 60px;
  margin-left: 25px;
  border: none;
  background: #050522;
  box-shadow: -1px 1px 10px rgba(5, 5, 34, 0.15);
  border-radius: 15px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFDE69;
  text-shadow: -1px 1px 10px rgba(255, 222, 105, 0.15);
  margin-bottom: 10px;
}
  &__welcome {
    margin: 25px 0 0 25px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #050522;
  }

  &__label {
    position: relative;
    background-color: #FFECAA;
    width: fit-content;
    padding: 0 5px;
    z-index: 2;
    left: 40px;
    top: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }

  &__login {
    margin-top: 5px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #050522;
    margin-bottom: 0;
  }

&__reg {
  display: flex;
  justify-content: space-evenly;
  margin: 0 25px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #050522;

  & span:nth-child(2) {
    color: #EF5858;
    cursor: pointer;
  }
}
  &__close {
    padding-bottom: 20px;
    width: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
  }

  &__input {
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 20px;
    margin-left: 25px;
    margin-bottom: 12px;
    width: 325px;
    height: 60px;
    border: 2px solid #050522;
    border-radius: 10px;
    z-index: 1;

    &:focus {
      outline: none;
    }

  }

  &__checkbox {
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    height: fit-content;
    & label {
      position: relative;
      left: -50px;
    }

    & input {
      cursor: pointer;
      position: relative;
      margin-bottom: 10px;
    }

    & span {
      cursor: pointer;
    }
  }
}